#login-container {
    padding: 5%;
}

#login-header {
    color: white;
    text-align: center;
}

#login-form {
    background-color: #575BB4;
    padding: 2rem;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 25%;
    margin: 0 auto;
}

#login-form label {
    color: white;
    margin-bottom: 0.5rem;
}

#login-form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
}

#login-btn {
    background-color: transparent;
    color: white;
    border: solid 2px white;
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    width: 50%;
    margin: 0 auto;
}

#login-btn:hover {
    background-color: white;
    color: #575BB4;
    transition: 0.3s;
}