#logout-btn {
    background-color: #575BB4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
}

#logout-btn:hover {
    text-decoration: underline;
}