#channels-card-container {
    background-color: #4D556F!important;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 5rem;
    padding: 1rem;
}

#channels-card-container:hover {
    transform: scale(1.05);
    border-color: #fff;
    transition: transform 0.3s ease;
}

#channels-card-poster {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

#channels-card-placeholder {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    font-size: 3rem;
}

#channels-card-header {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}

#channels-count {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}