#channels-container {
    padding: 5%;
}

#channels-header {
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

#channels-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

#channels-list > div {
    cursor: pointer;
    transition: transform 0.2s;
}

#channels-list > div:hover {
    transform: scale(1.05);
}